<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>{{titulo}}</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/custom.css" />
</head>

<body>
    {{>nav}}
    {{>header}}

        <div class="container ">
            <div class="d-flex flex-sm-column-reverse flex-md-row-reverse mt-3 mb-3">
            <div class="bg-primary" style="width:500px; height: 600px;">
                <h6 class="text-center">Carrito de Compras</h4>
            </div>

         <table class="table align-middle " id="mytable">   
            <thead class="text-center">
                <th>ID</th>
                <th>Nombre</th>
                <th>Características</th>
                <th>Precio</th>
                <th>Comprar</th>
            </thead>
            <tbody>
                {{#each results}}
                <tr>
                    <td class="text-center">{{ id_producto}} </td>
                    <td>{{ nombre_producto }} </td>
                    <td>{{ descripcion}} </td>
                    <td class="text-center"> ${{ precio_producto }} </td>

                    <td class="text-center">
                        <button class="btn btn-outline-secondary"><i class="fas fa-plus-circle"></i></button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        </div>


    </div>

    {{>footer}}


</body>

</html>